<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>傳送表單內容</title>
</head>
<body>
  <h1><%- title %></h1>
  <% errorMessages.forEach(function(item) { %>
    <p><%= item.msg %></p>
  <% }) %>
  <form action="/contact/post" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
      <label for="username">姓　　名：</label>
      <input type="text" name="username" id="username"/>
    </div>
    <div>
      <label for="email">電子郵件：</label>
      <input type="email" name="email" id="email"/>
    </div>
    <div>
      <label for="title">標　　題：</label>
      <input type="text" name="title" id="title"/>
    </div>
    <div>
      <label for="description">訊息內容：</label>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
    </div>
    <div>
      <input type="submit" value="送出訊息" />
    </div>
  </form>
</body>

</html>